@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
}
span {
  display: block;
}
.swiper {
  /* overflow: unset; */
}
.swiper-slide {
  padding-inline: 2rem;
}
.swiper-wrapper {
  padding-bottom: 20px;
}
.swiper-button-next {
  right: 0px !important;
}
.swiper-button-prev {
  left: 0px !important;
}
.swiper-button-next,
.swiper-button-prev{
  @apply 
  bg-white
  shadow-xl 
  outline-none
  p-8 
  rounded-full;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: bolder;
}
